# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints

# Virtual environments
.env
.venv
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Logs and artifacts
logs/
artifacts/*.log

# IMPORTANT: allow pushing dataset
# (remove or comment out this if it exists)
# data/
